<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Typography Test</title>
    <link rel="stylesheet" href="../../styles/site.css">
</head>
<body>
    
    <div class="section">
        <div class="inner">
        
            <p>
                <a href="#" class="button">Lets chat</a>
                <button class="button">Lets chat</button>
            </p>

            <p>
                <a href="#" class="button secondary">Lets chat</a>
                <button class="button secondary">Lets chat</button>
            </p>

            <p>
                <a href="#" class="button">Lets chat</a>
                <a href="#" class="button secondary">Learn more</a>
            </p>

        </div>
    </div>

</body>
</html>