<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creators and Mobiles</title>
</head>
<body>
    <h1>Creators and Their Mobiles</h1>
    <ul>
        {{#each creators}}
            <li>
                <h2>{{this.username}}</h2>
                <ul>
                    {{#each this.user.mobiles}}
                        <li>{{this.mobiles}}</li>
                    {{/each}}
                </ul>
            </li>
        {{/each}}
    </ul>
</body>
</html>
