<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creators and Mobiles</title>
</head>
<body>
    <h1>Creators and Their Mobiles</h1>
    <ul>
        {{#each mobiles}}
            <li>
                <h2>{{> mobileObj}}</h2>
            </li>
        {{/each}}
    </ul>
</body>
</html>
