<body>
<h1>User Mobiles</h1>

<h2>Find User</h2>
<form method="POST">
    <label for="username">Username:</label>
    <input
        type="text"
        id="username"
        name="username"
        required
        value="{{submittedUsername}}"
    >
    <button type="submit">Check</button>
</form>

{{#if error}}
    <p class="error">{{error}}</p>
{{/if}}

{{#if user}}
    <h1>Total mobiles in last 30 days: <strong>{{mobileCount}}</strong></h1>
{{/if}}
</body>
