table {
    width: 100%;
    border-collapse: collapse;
}

table :is(th, td) {
    border: 1px solid #CCC;
    padding: 0.5em 0.8em;
}

table th {
    background: #DDD;
    text-align: left;
}

table tr:nth-last-of-type(even) {
    background: #EEE;
}