<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
       {{#if error}}
        <div class="error-container">
            <p>{{error}}</p>
        </div>
        {{/if}}
<nav>
  <div class="nav-clock"> <span id="live-clock"></span></div>
  <ul class="nav-links">
    {{#if user}}
      <li><a href="/">Table</a></li>
      <li><a href="/mobiles/create">Create</a></li>
      <li><a href="/creators">Users</a></li>
      <li><a href="/auth/register">Register</a></li>
      <li><a href="/auth/logout">Logout</a></li>
      <ul class="user-info">
        <li>Hello, {{user.username}}</li>
      </ul>
    {{/if}}
  </ul>
</nav>
    <main>
        {{{body}}}
    </main>
    <footer class="footer">
        <p>© Stantek 2025</p>
    </footer>
</body>
</html>

<script>
  function updateClock() {
    const now = new Date();
    const hours = String(now.getHours()).padStart(2, '0');
    const minutes = String(now.getMinutes()).padStart(2, '0');
    const seconds = String(now.getSeconds()).padStart(2, '0');
    document.getElementById('live-clock').textContent = `${hours}:${minutes}:${seconds}`;
  }

  updateClock();
  setInterval(updateClock, 1000);
</script>
