<h1>Register</h1>
<form method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <label for="password">Confirm:</label>
    <input type="password" id="rePassword" name="rePassword" required>
    
    <button type="submit">Register</button>
</form>